In [ ]:
# Imports
import numpy as np
import pandas as pd
from pymongo import MongoClient

# Connection to and setting up database

In [ ]:
# Set up the pymongo database client
client = MongoClient("mongodb://root:password@127.0.0.1:27017")

In [ ]:
# Retrieve the list of databases currently in mongodb
client.list_database_names()

In [ ]:
# Connect/create a database
db = client["mydb"]

In [ ]:
# Retrieve the list of collections currently within the database
db.list_collection_names()

In [ ]:
# Connect/create a collection within the database
col = db["mycollection"]

# Populating data into database

In [ ]:
# Populating a single document into the collection
single_doc = {"name": "John", "age": 20, "location": "New York"}
col.insert_one(single_doc)

In [ ]:
# Populating multiple documents into the collection
mul_doc = [
    {"name": "Peter", "age": 25, "location": "Los Angeles"},
    {"name": "Amy", "age": 22, "location": "New York"},
    {"name": "Susan", "age": 30, "location": "Los Angeles"},
    {"name": "Jordan", "age": 27, "location": "Memphis"},
    {"name": "Mike", "age": 25, "location": "Houston"},
]
col.insert_many(mul_doc)

# Query data from database

In [ ]:
# Query all documents from database
for doc in col.find():
    print(doc)

In [ ]:
# Query documents based on equality condition
for doc in col.find({"location": "Los Angeles"}):
    print(doc)

In [ ]:
# Query documents based on comparison conditions
# less than: $lt
# Less than or equal to: $lte
# Greater than: $gt
# Greater than or equal to: $gte
# Not equals: $ne
for doc in col.find({"age": {"$gt": 25}}):
    print(doc)

In [ ]:
# Combine query conditions
# AND: $and
# OR: $or
for doc in col.find({"$and": [{"location": "Los Angeles"}, {"age": {"$gt": 25}}]}):
    print(doc)

In [ ]:
# Sorting a query by key in ascending order
print("Ascending by age")
for doc in col.find().sort("age"):
    print(doc)
print("Descending by name")
# Sorting a query by key in descending order
for doc in col.find().sort("name", -1):
    print(doc)

In [ ]:
# Limiting the query
for doc in col.find().limit(3):
    print(doc)

# Updating documents

In [ ]:
# Updating fields of a document based on condition
# The update_one method updates a single document while the update_many method updates all documents
# If no condition is specified, then all documents will be updated
col.update_many({"location": "Memphis"}, {"$set": {"age": 99}})
for doc in col.find():
    print(doc)

# Deleting documents

In [ ]:
# Delete based on condition
# The delete_one method deletes a single document while the delete_many method deletes multiple documents
# If no condition is specified, all documents will be deleted
col.delete_many({"location": "Houston"})
for doc in col.find():
    print(doc)

# Deleting a collection

In [ ]:
# Drop a collection to delete it
col.drop()

# Delete a database

In [ ]:
client.drop_database("mydb")